/* Write your CSS here */
.bgContainer {
  background-color: black;
  background-size: cover;
  height: 100vh;
  padding: 20px;
  overflow-y: scroll;
}
@media (min-width: 768px) {
  .bgContainer {
    padding: 50px;
  }
}
